<footer class="footer container">
  <small>
    The
    <a href="https://github.com/HodaSalim/RailsX">Railsğ•</a>
    by
    <a href="https://www.HodaSalim.com">Hoda Salim</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
